:root{
    --bg: #f1f1f1;
    --primary: blueviolet;
    --secondary: crimson;
    --dim: lightgrey;
    --txt: #f1f1f1;
    --txt-alt: rgb(20, 20, 100);
    --btn-bg: #f1f1f1;
    --off: grey;
    --txt-dark: rgb(10,10,10);
}