form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: var(--bg);
    border-radius: 3px;
}
input{
    padding: 0.5em 0.75em;
    width: 70vw;
    max-width: 300px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: var(--dim);
    font-size: 1em;
    border-radius: 100px;
}
input:focus{
    outline: 2px solid var(--primary);
}
.sign-btn{
    border: none;
    outline: none;
    background-color: var(--primary);
    color: var(--txt);
    padding: 0.75em 1.25em;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.05em;
    transition: 0.2s;
}
.sign-btn:hover{
    transition: 0.2s;
    background: var(--secondary);
}
.reg-page, .login-page{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    margin-top: 5em;
}
.gauth{
    border-radius: 3px;
    overflow: hidden;
    margin: 1em 0;
}
.fa-right-from-bracket{
    font-size: 1.25em;
}
.google{
    width: 100%;
    cursor: pointer;
}
.or{
    color: var(--txt);
    margin-bottom: 1em;
    text-align: center;
}
.home-btn{
    text-decoration: none;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    color: var(--btn-bg);
}
.fa-house{
    font-size: 1.5em;
}
.greeting{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-redirect{
    background: var(--btn-bg);
    border-radius: 100px;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: 600;
    margin-top: 1.5em;
}
.greeting-name, .greeting-text{
    color: var(--txt);
}
#pic{
    border: none;
}
.ntfnl,.ntfnr{
    position: absolute;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30em;
    margin-top: 1em;
}
.ntfnl{
    top: 24em;
}
.msg{
    color: var(--secondary);
    font-size: 0.8em;
}